SnowQueen/Connected Services/WCFService/SnowQueenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMainModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainModel" nillable="true" type="tns:MainModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainModel" nillable="true" type="tns:ArrayOfMainModel" />
  <xs:complexType name="MainModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainModel" nillable="true" type="tns:MainModel" />
</xs:schema>