WPFEF/Connected Services/WCFService/SnowQueenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SnowQueenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39449/Services/SnowQueenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39449/Services/SnowQueenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39449/Services/SnowQueenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShowData_Show_InputMessage">
    <wsdl:part name="parameters" element="tns:Show" />
  </wsdl:message>
  <wsdl:message name="IShowData_Show_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowResponse" />
  </wsdl:message>
  <wsdl:message name="IAddData_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAddData_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="IShowData">
    <wsdl:operation name="Show">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowData/Show" message="tns:IShowData_Show_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowData/ShowResponse" message="tns:IShowData_Show_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAddData">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddData/Add" message="tns:IAddData_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddData/AddResponse" message="tns:IAddData_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShowData" type="tns:IShowData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show">
      <soap:operation soapAction="http://tempuri.org/IShowData/Show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAddData" type="tns:IAddData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAddData/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SnowQueenService">
    <wsdl:port name="BasicHttpBinding_IShowData" binding="tns:BasicHttpBinding_IShowData">
      <soap:address location="http://localhost:39449/Services/SnowQueenService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAddData" binding="tns:BasicHttpBinding_IAddData">
      <soap:address location="http://localhost:39449/Services/SnowQueenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>